* {
	box-sizing: border-box;
	margin: 0
}

body {
	background-color: #e5e2e2;
	font-family: 'Roboto', sans-serif;
}

nav {
	background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

nav .nav-item a {
	color: #FFF;
}

nav ion-icon {
	font-size: 20px;
	margin: 5px
}

.link-cart {
	position: relative;
}

.link-cart .badge {
	position: absolute;
	left: 27px;
	top: 0
}

nav .nav-item {
	height: 100%;
}

nav .nav-item:hover a {
	color: lime;
}

nav .nav-item.active {
	border-bottom: 2px solid orange;
}

nav .nav-item.active a {
	color: lime;
}

nav button {
	border-radius: 40px;
}

select.form-control:not([size]):not([multiple]) {
	height: 44px;
}

select.form-control {
	padding-right: 38px;
	background-position: center right 17px;
	background-repeat: no-repeat;
	background-size: 9px 9px;
}

.form-control:not(textarea) {
	height: 44px;
}

.form-control {
	padding: 0 18px 3px;
	border: 1px solid #dbe2e8;
	border-radius: 22px;
	background-color: #fff;
	color: #606975;
	font-size: 14px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.shopping-cart, .wishlist-table, .order-table {
	margin-bottom: 20px
}

.shopping-cart .table, .wishlist-table .table, .order-table .table {
	margin-bottom: 0
}

.shopping-cart .btn, .wishlist-table .btn, .order-table .btn {
	margin: 0
}

.shopping-cart>table>thead>tr>th, .shopping-cart>table>thead>tr>td,
	.shopping-cart>table>tbody>tr>th, .shopping-cart>table>tbody>tr>td,
	.wishlist-table>table>thead>tr>th, .wishlist-table>table>thead>tr>td,
	.wishlist-table>table>tbody>tr>th, .wishlist-table>table>tbody>tr>td,
	.order-table>table>thead>tr>th, .order-table>table>thead>tr>td,
	.order-table>table>tbody>tr>th, .order-table>table>tbody>tr>td {
	vertical-align: middle !important
}

.shopping-cart>table thead th, .wishlist-table>table thead th,
	.order-table>table thead th {
	padding-top: 17px;
	padding-bottom: 17px;
	border-width: 1px
}

.shopping-cart .remove-from-cart, .wishlist-table .remove-from-cart,
	.order-table .remove-from-cart {
	display: inline-block;
	color: #ff5252;
	font-size: 18px;
	line-height: 1;
	text-decoration: none
}

.shopping-cart .count-input {
	display: inline-block;
	width: 100%;
	width: 86px
}

.shopping-cart .product-item, .wishlist-table .product-item,
	.order-table .product-item {
	display: table;
	width: 100%;
	min-width: 150px;
	margin-top: 5px;
	margin-bottom: 3px
}

.shopping-cart .product-item .product-thumb, .shopping-cart .product-item .product-info,
	.wishlist-table .product-item .product-thumb, .wishlist-table .product-item .product-info,
	.order-table .product-item .product-thumb, .order-table .product-item .product-info
	{
	display: table-cell;
	vertical-align: top
}

.shopping-cart .product-item .product-thumb, .wishlist-table .product-item .product-thumb,
	.order-table .product-item .product-thumb {
	width: 70px;
	padding-right: 20px
}

.shopping-cart .product-item .product-thumb>img, .wishlist-table .product-item .product-thumb>img,
	.order-table .product-item .product-thumb>img {
	display: block;
	width: 70px;
	height: 100px;
	border: 1px solid black;
}

@media screen and (max-width: 860px) {
	.shopping-cart .product-item .product-thumb, .wishlist-table .product-item .product-thumb,
		.order-table .product-item .product-thumb {
		display: none
	}
}

.shopping-cart .product-item .product-info span, .wishlist-table .product-item .product-info span,
	.order-table .product-item .product-info span {
	display: block;
	font-size: 13px
}

.shopping-cart .product-item .product-info span>em, .wishlist-table .product-item .product-info span>em,
	.order-table .product-item .product-info span>em {
	font-weight: 500;
	font-style: normal
}

.shopping-cart .product-item .product-title, .wishlist-table .product-item .product-title,
	.order-table .product-item .product-title {
	margin-bottom: 6px;
	padding-top: 5px;
	font-size: 16px;
	font-weight: 500
}

.shopping-cart .product-item .product-title>a, .wishlist-table .product-item .product-title>a,
	.order-table .product-item .product-title>a {
	transition: color .3s;
	color: #374250;
	line-height: 1.5;
	text-decoration: none
}

.shopping-cart .product-item .product-title>a:hover, .wishlist-table .product-item .product-title>a:hover,
	.order-table .product-item .product-title>a:hover {
	color: #0da9ef
}

.shopping-cart .product-item .product-title small, .wishlist-table .product-item .product-title small,
	.order-table .product-item .product-title small {
	display: inline;
	margin-left: 6px;
	font-weight: 500
}

.wishlist-table .product-item .product-thumb {
	display: table-cell !important
}

@media screen and (max-width: 576px) {
	.wishlist-table .product-item .product-thumb {
		display: none !important
	}
}

.shopping-cart-footer {
	display: table;
	width: 100%;
	padding: 10px 20px;
	border-top: 1px solid #537C8E
}

.shopping-cart-footer>.column {
	display: table-cell;
	padding: 5px 0;
	vertical-align: middle
}

.shopping-cart-footer>.column>h3 {
	color: #f26419
}

.shopping-cart-footer>.column:last-child {
	text-align: right
}

.shopping-cart-footer>.column:last-child .btn {
	margin-right: 0;
	margin-left: 15px
}

@media ( max-width : 768px) {
	.shopping-cart-footer>.column {
		display: block;
		width: 100%
	}
	.shopping-cart-footer>.column:last-child {
		text-align: center
	}
	.shopping-cart-footer>.column .btn {
		width: 100%;
		margin: 12px 0 !important
	}
}

.coupon-form .form-control {
	display: inline-block;
	width: 100%;
	max-width: 235px;
	margin-right: 12px;
}

.form-control-sm:not(textarea) {
	height: 36px;
}

#body {
	padding: 5vh 5vw;
	min-height: 100vh;
}

.cart-header {
	border-bottom: 1px solid #537C8E;
	background-color: #E4E4E5;
}

.modal .btn {
	width: 45%;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.8);
	padding-top: 50px;
}

/* Modal Content/Box */
.modal .modal-content {
	padding: 1.5em;
	text-align: center;
	background-color: #fefefe;
	margin: 10% auto 15% auto;
	/* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 30%; /* Could be more or less, depending on screen size */
}

/* The Modal Close Button (x) */
.modal .close {
	position: absolute;
	right: 100px;
	top: 100px;
	font-size: 40px;
	font-weight: bold;
	color: #f1f1f1;
}

.modal .close:hover, #confirmClean .close:focus {
	color: #f44336;
	cursor: pointer;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
	.modal .cancelbtn, #confirmClean .deletebtn {
		width: 100%;
	}
}

footer a {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
}

footer a:hover {
	background-color: #17A2B8;
}

footer a ion-icon {
	font-size: 22px
}