* {
	box-sizing: border-box;
	margin: 0
}

body {
	background-color: #e5e2e2;
	font-family: 'Roboto', sans-serif;
}

#body {
	min-height: 100vh
}

nav {
	background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

nav .nav-item a {
	color: #FFF;
}

nav ion-icon {
	font-size: 20px;
	margin: 5px
}

.link-cart {
	position: relative;
}

.link-cart .badge {
	position: absolute;
	left: 27px;
	top: 0
}

nav .nav-item {
	height: 100%;
}

nav .nav-item:hover a {
	color: lime;
}

nav .nav-item.active {
	border-bottom: 2px solid orange;
}

nav .nav-item.active a {
	color: lime;
}

nav button {
	border-radius: 40px;
}

.list-loai_sach {
	padding-top: 30px;
	min-height: 100vh;
	background-color: #B6FBEE;
}

.has-search {
	position: relative;
}

.has-search .form-control {
	padding-left: 2.375rem;
}

.has-search .form-control-feedback {
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 2;
	pointer-events: none;
	color: #aaa;
}

.loaiSach-item {
	transition: 0.5s;
	margin: 0;
	padding: 5px 15px;
	font-size: 14px;
	border-bottom: solid 1px #621708;
	cursor: pointer;
}

.loaiSach-item:hover {
	background-color: #00918E;
	font-weight: bold;
	color: #fff;
}

#myCarousel {
	height: 250px
}

.carousel-inner {
	height: 100%;
	border-radius: 10px;
}

.carousel-item {
	height: 100%;
	min-height: 250px;
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.list-Sach {
	min-height: 100vh;
}

.card {
	width: 100%;
	min-height: 100%;
	border: 0;
}

.card:hover {
	box-shadow: 0 0 8px #aaa;
}

.card-body {
	width: 100%;
	height: 100%;
}

.card-body>img {
	width: 170px;
	height: 200px;
	border: 1px solid black;
}

.card-content {
	width: 100%;
}

.card-body .card-content small {
	display: block;
	max-width: 170px;
}

#back-top {
	width: 50px;
	height: 50px;
	display: flex;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.3);
	color: #FFF;
	position: fixed;
	right: 30px;
	bottom: 60px;
}

#back-top ion-icon {
	font-size: 1.7rem;
}

footer a {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid white;
}

footer a:hover {
	background-color: #17A2B8;
}

footer a ion-icon {
	font-size: 22px
}